@using System.Reflection;
@page "/FinalCalculations"
@using Refundation_App_Services.Extensions;
@using Refundation_App_Services.Services;
@using System.Net.Http.Json;
@using System.Reflection;
@inherits FinalCalculationsBase





<MudPaper Class="pa-4 mt-1 mb-1 me-5 mx-5" Elevation="0">
    <MudButton Class="ms-4 rounded-sm" Variant=" Variant.Filled" Color="Color.Secondary">
        Odobri
    </MudButton>
    <MudButton Class="rounded-sm" Variant="Variant.Filled" Color="Color.Secondary">Detalji</MudButton>
    <MudButton Class="rounded-sm" Variant="Variant.Filled" Color="Color.Warning">Brisanje</MudButton>
</MudPaper>


<Table Columns="@Columns.ToList()" Elements="@Elements" ElementChanged="@ElementChangedHandler"></Table>



<style>
    .selected {
        background-color: #f0e8ec !important;
    }

        .selected > td .mud-input {
            color: white !important;
        }
</style>