*/obj/*
**/obj
**/bin
**/*.dll
**/*.pdb
Refuntations_App/obj/
Refuntations_App/bin/
.vs/Refuntations_App/
.vs/ProjectEvaluation/refuntations_app.metadata.v5.2
.vs/ProjectEvaluation/refuntations_app.projects.v5.2
.vs/Refuntations_App/DesignTimeBuild/.dtbcache.v2
.vs/Refuntations_App/v17/.futdcache.v2
.vs/Refuntations_App/v17/.suo
.vs/slnx.sqlite
Refuntations_App/bin/Debug/net6.0/Refuntations_App.dll
Refuntations_App/bin/Debug/net6.0/Refuntations_App.pdb
Refuntations_App/obj/Debug/net6.0/Refuntations_App.csproj.AssemblyReference.cache
vs/VSWorkspaceState.json


.vs/Refuntations_App/FileContentIndex/5a5c6378-f9de-4c6e-a70a-0f227910e6a4.vsidx
.vs/Refuntations_App/FileContentIndex/9e04d710-fc86-4898-be28-ea39523837c8.vsidx
*.vsidx
